body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #eee;
    margin: 0;
    padding: 0;
}

header {
    background-color: #337ab7;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: #eee;
}

nav {
    background-color: #337ab7;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #eee;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #1e6c9f;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

.post {
    background-color: #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-top: 0;
    color: #eee;
}

.post p {
    color: #ccc;
}

.post a {
    color: #337ab7; /* Sets the color of the link */
    text-decoration: none; /* Removes underline */
}

.post a:hover {
    color: #1e6c9f; /* Sets the color of the link when hovered */
}

.post a:visited {
    color: #3e8f3e; /* Sets the color of the link after it has been visited */
}
